{% extends "layout.html" %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='choose_style.css')}}">

<section class="background">
	
	


	<section class="Chosing-Game">

		<h1 class="choose-game" id="choose-game">
			Game Chooses
		</h1>

		<form action="" method='POST' class="input" enctype="multipart/form-data">
		<div class="Game-Choose-btn-list">	

			 <select id="choosing-list" name="choosed">
			 {% for draft in draft_names %}
			 	<option> {{ draft }} </option>
			 {% endfor%}
			 </select>
			
			 <br>
			 <button type="submit" id="choose-submit-button" class="btn btn-primary"> Submit </button>
			
		</ul>
		</form>

	</section>



</section>










{% endblock content %}