{% extends "layout.html" %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home_style.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='home_Script.js')}}"></script>





<section class="background">
	
	<section class="Game">
		
		<img src="{{url_for('static', filename='Pciture_1/gambar1.jpg')}}"  class="q-picture" id="q-picture">
		<div class="nama"> Tebak Namanya</div>
	
			<div class="input-group mb-3 answer-input">
 				 <input type="text" class="form-control" id="User-Answer" placeholder="Ayo Tebak Namanya" ondragenter ="NextLevel(this)" aria-label="Recipient's username" aria-describedby="button-addon2">
  				<button class="btn btn-outline-secondary answer-btn" type="button" id="button-addon2" onclick= "NextLevel(this)">Kumpul</button>
			</div>

	
		


	</section>


	<section class="Chosing-Game">

		<h1 class="sub-choose">
			Game Choose
		</h1>

		<ul class="Game-Choose-btn-list">	 
			 <li class="Game-Choose-btn">
			 	<insert id='reset-button' onclick="Start_from_zero(this)"> Mulai Game Baru </insert>
			 </li>
			  <li class="Game-Choose-btn">
			 	<a href="{{ url_for('views.choose_draft')}}"> Masukan Draft </a>
			 </li>
			  <li class="Game-Choose-btn life-section">
			 	 Sisa Nyawa = <small id="life-tag">5</small>
			 </li>
			 <li class="Game-Choose-btn life-section">
			 	 Level <small id="level-tag"> 1 </small> <small id="Max-level">/ </small>
			 </li>
		</ul>

	</section>

</section>



<script type="text/javascript">
	// const Name=['gambar1.jpg','gambar2.jpg','gambar3.jpg','gambar4.jpg','gambar5.jpg','gambar6.jpg']
	document.getElementById('Max-level').innerText = '/ ' + (Name.length).toString()


	var answer = document.getElementById("User-Answer");
	answer.addEventListener("keydown", function(event) {
	if (event.key === "Enter") {
		NextLevel(this)
	}

	});



</script>





{% endblock content %}