{% extends "layout.html" %}


{% block content %}




<section class="background">
	
	<section class="Game">
		
		<img src="{{url_for('static', filename='Pciture_1/gambar1.jfif')}}"  class="q-picture" id="q-picture">

		<div class="input-container" id="input-container">
			<div class="nama"> Tebak Namanya</div>
		
			<div class="input-group mb-3 answer-input">
				 <input type="text" class="form-control" id="User-Answer" placeholder="Ayo Tebak Namanya" ondragenter ="NextLevel(this)" aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off">
				<button class="btn btn-outline-secondary answer-btn" type="button" id="button-addon2" onclick= "NextLevel(this)">Kumpul</button>
			</div>
		</div>

	</section>


	<section class="Chosing-Game">

		<h1 class="sub-choose">
			Game Choose
		</h1>

		<ul class="Game-Choose-btn-list">	 
			 <li class="Game-Choose-btn">
			 	<a href="{{ url_for('views.choose_draft')}}"> Mulai Game Baru </a>
			 </li>
			  <li class="Game-Choose-btn">
			 	<a href="{{ url_for('views.upload_draft')}}"> Masukan Draft </a>
			 </li>
			  <li class="Game-Choose-btn life-section">
			 	 Sisa Nyawa = <small id="life-tag">5</small>
			 </li>
			 <li class="Game-Choose-btn life-section">
			 	 Level <small id="level-tag"> 1 </small> <small id="Max-level">/ </small>
			 </li>
		</ul>

	</section>

</section>



<script type="text/javascript">


	



</script>


<script type="text/javascript" src="{{url_for('static', filename='home_Script.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home_style.css')}}">


{% endblock content %}