<!DOCTYPE html>
<html>
<body>
<h1>The Document Object</h1>
<h2>The querySelectorAll() Method</h2>

<section>
  <div class="About-me" >
  
    <h2>
      FAQ
    </h2>

    <div class="faq">
      <div class="question">
        <h3>Cara Login ?</h3> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </div>

      <div class="answer">
        <ul>
          <li>
            <p>
              Tekan tombol pengaturan di kiri 
            </p>
          </li>

          <li>
            <p>
              Lalu tekan akun
            </p>
          </li>

          <li>
            <p>
              Bila anda tak memiliki akun silakan tekan daftar
            </p>
          </li>
        
        
        </ul>
      </div>


    </div>


    <div class="faq">
      <div class="question">
        <h3>Cara Login ?</h3> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </div>

      <div class="answer">
        <ul>
          <li>
            <p>
              Tekan tombol pengaturan di kiri 
            </p>
          </li>

          <li>
            <p>
              Lalu tekan akun
            </p>
          </li>

          <li>
            <p>
              Bila anda tak memiliki akun silakan tekan daftar
            </p>
          </li>
        
        
        </ul>
      </div>


    </div>

      

  </div>
</section>
 

<script>
const nodeList = document.querySelectorAll(".faq");

console.log(nodeList);
for (let i = 0; i < nodeList.length; i++) {
  nodeList[i].style.backgroundColor = "red";
}
</script>

</body>
</html>
